<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="home_style.css">
    <!-- <a href='https://www.freepik.com/free-photos-vectors/people'>People vector created by pch.vector - www.freepik.com</a> -->
    <!-- <a href='https://www.freepik.com/free-photos-vectors/technology'>Technology vector created by freepik - www.freepik.com</a> -->
    <!-- <a href='https://www.freepik.com/free-photos-vectors/technology'>Technology vector created by freepik - www.freepik.com</a> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="canvas">
        <div class="banner">
            <div id="About">
                <div id='title'><h1>SWIFT</h1></div>
                <p>True to its name, SWIFT couples great rapidity with ease of movement. It is your one stop destination for speedy
                    and easy call connects. <br><br>Scroll down to see the features in store for you or click "Get Started"
                    to connect with a friend! <br> <br>
                 <!-- <button  class="btn btn-primary" id="create-room"><a href="/create-room/">Create Room</a></button></p>  -->
                 <button  class="btn btn-primary" id="get-started"><a href="/get-started/">Get Started</a></button></p>     
            </div>
            <div id="couple-vc">
                <img src="./imgs/project1.jpg" id="Video-call">
            </div>
        </div>
        <div class="banner" id="features-panel">
            <div id="friend-vc">
                <img src="./imgs/—Pngtree—cartoon hand drawn online education_5341181.png" id="Video-call-2">
            </div>
            <div id="Features">
                <div id='title'><h1>FEATURES</h1></div>
                <p>
                    <ul>
                        <li>Real-time chatting feature </li>
                        <li>Chat and talk and enter as many video meets as you wish in the same room</li>
                        <li>Collaborative Whiteboard!!!</li>
                        <li> <span>ICEBREAKER:</span> Break the ice with news headlines on a button click!</li>
                        <li>Record and download meets</li>
                        <li>Share Screen (only the host can)</li>
                        <li>Light and Dark mode, but we all know you are going for dark :p</li>
                        <li>Basic functionalities of mute,unmute,switch video on or off, end whole meet</li>
                        <li>Invite by sharing the room link or send a mail invite just as easily! </li>
                        <li>Responsive and easy to the eyes UI</li>
                    </ul>
                </p>      
            </div>
        </div> 
        <div>   
            <section>
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
                <h5 style="color:rgb(238, 235, 235)">Designed and developed by Akanksha Verma</h5>
                </section>
        </div>    

    </div>
   
</body>
</html>

