<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="join-create-style.css">
    <!-- <a href='https://www.freepik.com/free-photos-vectors/business'>Business vector created by stories - www.freepik.com</a> -->
    <!-- <a href='https://www.freepik.com/free-photos-vectors/people'>People vector created by stories - www.freepik.com</a> -->
    <script src="join-create.js" defer></script>
    <title>Join-Create</title>
</head>
<body>
    <div class="canvas">

        <div class="panel call-options-table">

            <div class="call-option">
                <img src="imgs/Start-call.jpg" alt="" class="call-img">
                <h2 class="header">CREATE ROOM</h2>
                <!-- <span class="input-box"><input type="text" placeholder="Enter meet subject" id="subject-input"></span> -->
                <span class="message">Have a great time in there!</span>
                <!-- <a href="/create-room/" class="call-button">Create room</a> -->
                <button  class="btn btn-primary" id="create-room"><a href="/create-room/">Create Room</a></button> 
            </div>
    
            <div class="call-option">
                <img src="imgs/Join-room.jpg" alt="" class="call-img">
                <h2 class="header">JOIN ROOM</h2>
                <span class="input-box"><input type="text" placeholder="Enter room link" id="roomlink-input"></span>
                <button  class="btn btn-primary" onclick="getLink()">Join Room</button>
            </div>
    
        </div>
    
        <div class="time-container">
            <div class="display-date">
                <span id="day">day</span>,
                <span id="daynum">00</span>
                <span id="month">month</span>
                <span id="year">0000</span>
              </div>
              <div class="display-time"></div>
        </div>
            
    </div>
    
</body>
</html>