body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.canvas{
    display:flex;
    flex-direction: column;
}

/* ==============================================================WAVES-CSS=============================================================== */

section{
    position: relative;
    width: 100%;
    height: 40vh;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(180);
}

section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background:url(/imgs/wave.png) ;
    background-size: 1000px 100px;
}
section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
section .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }
}
/* =========================================================BANNER-1-STYLING======================================================================== */

.banner{
    display:flex;
    flex-grow: 1;
    justify-content:space-between;
    min-height:100vh;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#couple-vc{
    background-color:white;
    display:flex;
    flex:0.6;
    flex-grow:0.6;
    flex-direction: row-reverse;
    width: 100vh;
    height: 80vh;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:100%;
}

#Video-call{
    max-width: 80%;
    max-height: 60%;
}

#About{
    flex:0.4;
    flex-grow: 0.4;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 30vh;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    padding:10px;
}

/* =========================================================BANNER-2-STYLING======================================================================== */

#friend-vc{

    background-color:#e0fbfc;
    display:flex;
    flex:0.6;
    flex-grow:0.6;
    flex-direction: row;
    align-items:center;
    width: 100vh;
    height: 95vh;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
    border-top-right-radius:100%;
}

#Video-call-2{
    max-width: 100%;
    max-height: 100%;
}

#Features{
    flex:0.4;
    flex-grow: 0.4;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    padding:10px;
}

/* ==========================================================TEXT-AND-BUTTON-STYLING=================================================================================== */

h1{
    font-weight: 900;
}

p{
    font-size: 20px;
}

#title, p{
    color:white;
}

li{
    color:white;
    font-size: 20px;
}
span{
    font-weight:800;
}

.btn-primary{
    background-color:transparent;
    color:white;
    border-radius: 100px;
    padding: 15px;
    transition: all .2s ease-in;
    border-color:white;
}
.btn-primary:hover{
    transform: translateY(-2px);
    border:none;
    background-color: #48cae4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
a{
    color:white;
}
a:hover {
    color:white;
    text-decoration: none;
    
  }

/* =============================================================XXXXXXXXXXXXXXXXXXXX=================================================================== */

@media (max-width: 991.98px) {
    .banner{
        flex-direction: column-reverse;
        
    }
    #couple-vc,#About,#friend-vc,#Features{
        width:100%;
    }
    #couple-vc{
        border-bottom-left-radius:0%;
        justify-content: center;
        align-items: center;
    }
    #friend-vc{
        border-top-right-radius:0%;
        justify-content: center;
        align-items: center;

    }
    
    /* #features{
        min-height: 50vh;
    } */

    

}





